<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <button onclick="socket.emit('message', 'test');">发送信息</button>

    <div id="test"></div>
  </body>


  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script type="text/javascript">
      var socket = io();
      //接受服务器推送信息
      socket.on('message_client', function (data) {
          document.querySelector("#test").innerHTML =  data.test;
      });
  </script>
</html>
